---
const platforms = ["Github", "Instagram", "Twitter"]; // or "twitter", "linkedin", etc.
const username = ["kodzuki-wan", "lkodzukiwanl", "lfasterterl"];
import Social from './Social.astro';

---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
  
<footer>
  <p>¡Más información sobre mis proyectos en:  
    <Social platform={platforms[0]} username={username[0]} />
    <Social platform={platforms[1]} username={username[1]} />
    <Social platform={platforms[2]} username={username[2]} />
  </p>
</footer>


